<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API del Clima</title>
    <link rel="stylesheet" href="../statics/estyle.css">
</head>
<body class="theme-clima">
    <header>
        <a href="../index.html"><button class="btn-inicio">🏠 INICIO</button></a>
        <h1>☀️ API del Clima (OpenWeather)</h1>
    </header>

    <main>
        <section class="busqueda">
            <input type="text" id="ciudad-input" placeholder="Ingresa una ciudad">
            <button id="buscar-clima-btn">Buscar Clima</button>
        </section>

        <div id="resultado-clima" class="resultado-box">
            <p>Temperatura: <span id="temp">...</span></p>
            <p>Humedad: <span id="humedad">...</span></p>
            <p>Descripción: <span id="descripcion">...</span></p>
        </div>
    </main>

    <script src="../js/clima.js"></script>
</body>
</html>