<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Rick & Morty</title>
    <link rel="stylesheet" href="../statics/estyle.css">
</head>
<body class="theme-rick">
    <header>
        <a href="index.html"><button class="btn-inicio">🏠 INICIO</button></a>
        <h1>👽 API de Rick & Morty</h1>
    </header>

    <main>
        <section class="busqueda">
            <input type="number" id="rick-input" placeholder="Ingresa un ID de personaje (Ej: 1)">
            <button id="buscar-rick-btn">Buscar Personaje</button>
        </section>

        <div id="resultado-rick" class="resultado-box">
            <h2 id="rick-nombre">...</h2>
            <img id="rick-imagen" src="" alt="Imagen de Personaje" style="max-width: 150px;">
            <p>Estado: <span id="rick-estado">...</span></p>
            <p>Especie: <span id="rick-especie">...</span></p>
        </div>
    </main>

    <script src="../js/rick.js"></script>
</body>
</html>